<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>服务中心</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="app" class="container-fluid">
        <h2>Mily服务中心</h2>
        <p>https://github.com/EmilyEdna</p>
        <p>————————————————————————</p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Center" role="tab" aria-controls="home"
                   aria-selected="true">
                    <h6>服务中心</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Server" role="tab" aria-controls="profile"
                   aria-selected="false">
                    <h6>服务负载</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Helthy" role="tab" aria-controls="contact"
                   aria-selected="false">
                    <h6>健康检查</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Plugin" role="tab" aria-controls="contact"
                   aria-selected="false">
                    <h6>插件中心</h6>
                </a>
            </li>
        </ul>
        <div class="tab-content border border-top-0" id="myTabContent">
            <div class="tab-pane fade show active" id="Center" role="tabpanel" aria-labelledby="home-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>服务编号</th>
                                    <th>服务名称</th>
                                    <th>服务地址</th>
                                    <th>TCP端口</th>
                                    <th>HTTP端口</th>
                                    <th>服务状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in ServList" class="text-center">
                                    <td v-if="EditRow!=item.No">{{item.No}}</td>
                                    <td v-if="EditRow!=item.No">{{item.ServiceName}}</td>
                                    <td v-if="EditRow!=item.No">{{item.Host}}</td>
                                    <td v-if="EditRow!=item.No">{{item.TcpPort}}</td>
                                    <td v-if="EditRow!=item.No">{{item.HttpPort}}</td>
                                    <td v-if="EditRow!=item.No">{{item.Stutas?"正常":"错误"}}</td>
                                    <td v-if="EditRow==item.No"><input type="text" class="form-control text-center" v-model="Param.No" disabled style="width:50px;" /></td>
                                    <td v-if="EditRow==item.No"><input type="text" class="form-control" v-model="Param.ServiceName" /></td>
                                    <td v-if="EditRow==item.No"><input type="text" class="form-control" v-model="Param.Host" /></td>
                                    <td v-if="EditRow==item.No"><input type="text" class="form-control" v-model="Param.TcpPort" /></td>
                                    <td v-if="EditRow==item.No"><input type="text" class="form-control" v-model="Param.HttpPort" /></td>
                                    <td v-if="EditRow==item.No"><select class="form-control" v-model="Param.Stutas"><option :value="0">错误</option><option :value="1">正常</option></select></td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" @click="insert()">{{item.Status?"禁用":"启用"}}</button>
                                        <button class="btn btn-sm btn-danger" @click="SaveOrEdit?Edit(item):Save(index)">{{SaveOrEdit?"编辑":"保存"}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="Server" role="tabpanel" aria-labelledby="profile-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="border alert alert-danger" v-for="(item,index) in ServList" v-if="index===0||item.ServiceName!==ServList[index-1].ServiceName">
                            <kbd>{{item.ServiceName}}</kbd>
                            <div class="offset-md-10" style="position:absolute;margin-top:-25px;">
                                <button class="btn btn-sm btn-info" type="button" @click="">添加URL负载规则</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="Server" role="tabpanel" aria-labelledby="contact-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">新闻审核内容</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="Plugin" role="tabpanel" aria-labelledby="contact-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">问题反馈内容</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                SaveOrEdit: true,
                EditRow: 0,
                ServList: [],
                Param: {}
            },
            created() {
                this.Init();
            },
            computed: {
            },
            methods: {
                Init() {
                    axios({
                        url: '/Center/GetServer',
                        method: 'get',
                    }).then(res => {
                        this.ServList = this.OrderByASCII(res.data.Data);
                    })
                },
                Edit(data) {
                    this.Param = data;
                    this.EditRow = data.No;
                    this.SaveOrEdit = false;
                },
                Save(index) {
                    this.ServList[index] = this.Param;
                    this.EditRow = 0;
                    this.SaveOrEdit = true;
                },
                OrderByASCII(Data) {
                    return Data.sort((A, B) => {
                        let X = A['ServiceName'].substring(0, 1).charCodeAt();
                        let Y = B['ServiceName'].substring(0, 1).charCodeAt();
                        return ((X < Y) ? -1 : (X > Y) ? 1 : 0);
                    });
                },
                insert() {
                    axios({
                        url: '/center/insert',
                        method: 'post',
                        data: { No: 2, ServiceName: 'Main', Host: '192.168.1.1', TcpPort: '8080', HttpPort: '8081', Stutas: 1 }
                    });
                }
            }
        });
    </script>
</body>
</html>